#main-area {
    width: 700px;
    height: 700px;
    background-color: aliceblue;
}


#setting-area {
    width: 200px;
}

#sim-menu {
    text-align: left;
    list-style: none;
}

#sim-menu .inner {
    display: none;
    border: 1px solid slategrey;
}

#sim-menu .inner.open {
    display: block;
}

#sim-menu .inner .inner-content{
    padding: 2rem;
}

#sim-menu p {
    cursor: pointer;
    padding: 10px;
}

#sim-menu p.ac1 {
    background: #F50057;
}

#sim-menu p.ac2 {
    background: #FFEA00;
}

#sim-menu p.ac3 {
    background: #64DD17;
}

#sim-menu p.ac4 {
    background: #64DD17;
}

#sim-menu .inner li {
    padding: 10px 0;
}
